Source: lisp-getent
Section: universe/devel
Priority: optional
Maintainer: Azamat S. Kalimoulline <turtle@bazon.ru>
Build-Depends-Indep: dh-lisp
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.8.2.0

Package: lisp-getent
Architecture: all
Depends: libc-bin, external-program-extener, split-sequence
Description: Provides execution to getent to retreive system users ang groups information.
